<tr>
  <td>
    <%= post.text %>
  </td>
  <td>
    <%= link_to image_tag('yeti.jpg', width:"30", height:"30"), like_post_path(post), method: :post, remote: true %>
  </td>
  <td id="like-<%= post.id %>">
    <%= post.likes %>
  </td>
</tr>
